WpfApp/Service References/AppService/MyWCFLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyWCFLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyWCFLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Restock" type="xs:int" />
      <xs:element minOccurs="0" name="Sold" type="xs:int" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductModel" nillable="true" type="tns:ProductModel" />
  <xs:complexType name="CategoryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryModel" nillable="true" type="tns:CategoryModel" />
</xs:schema>