WpfApp/Service References/AppService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MyWCFLib" />
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyWCFLib" minOccurs="0" name="GetProductResult" nillable="true" type="q1:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyWCFLib" minOccurs="0" name="model" nillable="true" type="q2:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyWCFLib" minOccurs="0" name="model" nillable="true" type="q3:CategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>